@import "../../styles/colors";
.cta-section {
  background: url(../../assets/images/cta-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  & .container {
    z-index: 1;
  }
  &-content {
    padding: 5rem 0;
  }
  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    background: #19365f;
  }
}
.cta {
  text-align: center;
}
.cta-title {
  font-family: "Play";
  color: $white;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}
.cta-desc {
  font-family: "Play";
  color: $white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 3rem;
}
.cta-section-view-link {
  width: 100%;
  background-color: #f8f9fa;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #263238;
  font-size: 1em;
  padding: 1em 1.5em;
  transition: all 0.4s ease;
  &:hover,
  &:active {
    color: #ffa50d;
    background-color: #08184b;
  }
}
