@import "../../styles/mixins";

.agency-list {
  @include flex(column, flex-start, flex-start);
  @include resp(flex-direction, column, column, row);
  margin-bottom: 1.875rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: -2.5rem;
  .agency-avatar {
    @include resp(width, 100%, 100%, 12.5rem);
    @include resp(flex, auto, auto, none);
    padding: 1rem;
    .agent-img {
      position: relative;
      @include resp(padding-bottom, 66%, 66%, 100%);
      width: 100%;
      overflow: hidden;
      @include flex(column, center, center);
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        margin: 0;
      }
    }
  }
  .agency-content {
    @include resp(padding, 1rem, 1rem, 1.875rem 2.5rem 1.25rem);
  }
  .agency-name {
    background-color: transparent;
    color: #2d3954;
    text-decoration: none;
    font-size: 1.3125rem;
    line-height: 1.625rem;
    font-family: "Play";
    font-weight: 700;
    margin-bottom: 0.4rem;
    transition: all 0.3s ease;
    &:hover,
    &:active {
      color: #ffa50d;
    }
    &-info {
      margin-bottom: 0.4rem;
    }
  }
}
.agent-img {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 17.21875rem;
  height: auto;
}
.agency-phone-icon {
  margin-right: 0.3125rem;
}
.agency-phone-info {
  display: flex;
  color: #4e5c79;
  font-family: "Muli";
  font-size: 0.9375rem;
  font-weight: 400;
}
.agency-desc {
  font-family: "Muli";
  line-height: 1.8;
  color: #4e5c79;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.prt-detail {
  background: rgba(255, 87, 34, 0.1);
  border-radius: 3.125rem;
  color: #ff5722;
  display: inline-block;
  font-size: 0.8125rem;
  margin-bottom: 0.3125rem;
  padding: 0.3125rem 0.9375rem;
}
