@import "../../styles/mixins";

.favorites-section-content {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  flex-wrap: wrap;
  padding: 5rem 0;
  .vertical-product-block {
    @include resp(width, 100%, 100%, Calc(50% - 1.5rem), Calc(33.33% - 1.5rem));
    &:nth-child(3n) {
      margin-right: 0.75rem;
    }
  }
}
