@import "../../styles/mixins";
.favorites-text {
  font-family: "Muli";
  color: white;
  font-weight: 400;
  font-size: 0.75rem;
  margin-left: 0.2rem;
  height: 1rem;
}
.favorites-link {
  @include flex(row, center, flex-end);
}
