@import "./reset";
@import "./variables";
@import "./mixins";
@import "./colors";

@font-face {
  font-family: "Muli";
  src: url("../assets/fonts/Muli-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Play";
  src: url("../assets/fonts/Play-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url("../assets/fonts/Lora-Regular.ttf") format("truetype");
}
body {
  font-family: "Play", sans-serif;
  color: #4e5c79;
  font-size: 1rem;
  font-weight: 400;
}
