@import "../../styles/mixins";

.agent-info-section {
  margin-bottom: 2rem;
  .container {
    padding: 0;
  }
  &-content {
    @include flex(column, flex-start, flex-start);
    padding: 1rem 1rem 1.5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  &-title {
    width: 100%;
    color: #2d3954;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.625rem;
    border-bottom: 1px solid #e8eef7;
    margin-bottom: 1rem;
  }
  &-info {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    line-height: 1.7;
    &-li {
      @include flex(column, flex-start, flex-start);
      @include resp(width, 100%, 100%, 50%, 50%, 25%);
      color: #ffa50d;
      margin-bottom: 1rem;
      strong {
        color: #2a3c77;
        font-family: "Muli";
        font-size: 1rem;
        line-height: 2.3;
      }
    }
  }
}
.agent-properties-section {
  margin-bottom: 5rem;
  .container {
    padding: 0;
  }
  &-content {
    @include flex(column, flex-start, flex-start);
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  &-nav {
    @include flex(row, center, flex-start);
    color: #4e5c79;
    font-family: "Muli";
    background-color: #08184b;
    &-tab {
      padding: 0.7rem 2rem;
      color: #fff;
      margin-right: 0;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover,
      &.active {
        color: #ffa50d;
        background-color: #2f4ba5;
      }
    }
  }
  &-list {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    background-color: #fff;
    @include resp(padding, 1.75rem 0, 1.75rem 1rem);
    &-item.vertical-product-block {
      @include resp(
        width,
        100%,
        100%,
        calc(50% - 1.5rem),
        calc(50% - 1.5rem),
        calc(33% - 1.5rem)
      );
    }
  }
}
