@import "../../styles/mixins";

.single-property-section {
  background-color: #f3f7fd;
  &-content {
    @include flex(column, flex-start, flex-start);
    @include resp(flex-direction, column, column, column, row);
    padding: 5rem 0;
  }
  .property-left-block {
    width: 100%;
    margin-right: 1.5rem;
  }
  .property-name-status-block {
    @include flex(column, flex-start, space-between);
  }
  .property-block {
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 1.875rem;
    padding: 1.5rem;
    .property-status {
      background: rgba(136, 102, 218, 0.1);
      color: #8866da;
      border-radius: 3.125rem;
      font-size: 0.75rem;
      font-weight: 600;
      padding: 0.25rem 0.75rem;
      margin: 0.3125rem 0;
      margin-bottom: 5px;
      &.red {
        background-color: rgba(247, 68, 0, 0.1);
        color: #f74400;
      }
    }
    .property-name {
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: #2d3954;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 0.5rem;
    }
    .property-address {
      display: flex;
      color: #4e5c79;
      font-family: "Muli";
      font-size: 1rem;
      font-weight: 400;
    }
    .property-name-icon-img {
      margin-right: 0.5rem;
    }
    .property-price {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      color: #0fca98;
      line-height: 1.4;
    }
    .list-fx-features {
      @include flex(row, center, end);
    }
  }

  .property-block-title {
    margin-bottom: 1rem;
    color: #140c40;
    font-family: "Muli";
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .detail-features {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    .detail-features-li {
      color: #546cb1;
      display: inline-block;
      flex: 0 0 33.333333%;
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 1.2rem;
      width: 33.333333%;
      & strong {
        color: #08184b;
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }
  .list-gallery-inline {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    .gallery-li {
      padding: 5px;
      @include resp(width, 100%, 50%, 33.33%);
    }
    .mfp-gallery-image-img {
      border-radius: 0.25rem;
    }
  }
  .comment-block-list {
    @include flex(column, center, flex-start);
    &-item {
      @include flex(row, flex-start, flex-start);
      padding-bottom: 25px;
      border-bottom: 1px dashed #e3e7ea;
      margin-bottom: 20px;

      .comment-image-person {
        width: 5rem;
        &-img {
          border-radius: 50%;
        }
      }
      .comment-body {
        overflow: hidden;
        padding-left: 1.875rem;
        .author-name {
          font-size: 1.0625rem;
          line-height: 1.625rem;
          margin-bottom: 0.5rem;
          color: #2d3954;
          font-family: "Play";
          font-weight: 700;
        }
        .comment-date {
          color: #00ba74;
          font-size: 0.75rem;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 1rem;
          text-transform: uppercase;
          margin-bottom: 1.25rem;
        }
        .comment-text {
          color: #4e5c79;
          font-family: "Muli";
          font-size: 0.9375rem;
          font-weight: 400;
          line-height: 1.8;
        }
      }
    }
  }
  .property-right-block {
    width: 100%;
    @include resp(max-width, 100%, 100%, 100%, 26.5rem);
    .msg-block {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      border-radius: 0.375rem;
      overflow: hidden;
      &-info {
        padding-left: 1.25rem;
      }
      .msg-agent-name {
        font-family: "Play";
        font-size: 21px;
        font-weight: 700;
        text-transform: capitalize;
      }
      .agent-msg-header {
        width: 100%;
        display: flex;
        padding: 1.5rem 1.4rem;
        background-color: #0fca98;
      }

      .agent-image {
        width: 60px;
        height: 60px;

        object-fit: cover;
        &-img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .msg-agent-phone {
        display: flex;
      }
      .msg-agent-number {
        color: #b8ffec;
        font-family: "Muli";
        font-size: 1rem;
        font-weight: 400;
        margin-left: 0.625rem;
      }
    }
    .msg-form {
      width: 100%;
      background-color: #fff;
      padding: 1.5rem;
      .msg-form-input {
        background: #f6f8fd;
        width: 100%;
        border: 1px solid #edf0f9;
        font-size: 1rem;
        height: 56px;
        padding: 0.5rem 0.75rem;
        margin-bottom: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        &::placeholder {
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .not-allow {
        cursor: not-allowed;
        background-color: #e9ecef;
      }
      .text-area {
        height: 180px;
        min-height: calc(1.5em + 0.75rem + 2px);
      }
      .msg-form-btn {
        cursor: pointer;
        background-color: #263547;
        border: 1px solid #263547;
        font-family: "Muli";
        width: 100%;
        color: #fff;
        font-size: 1em;
        padding: 1em 1.5em;
        border-radius: 0.25rem;
        font-weight: 400;
        line-height: 1.5;
        transition: all 0.3s ease;
        &:hover {
          background-color: #0f7dff;
          border: 1px solid #0f7dff;
        }
      }
    }
  }
}
