@import "../../styles/mixins";
@import "../../styles/colors";
.listing-section {
  padding: 5rem 0;
  background-color: #f5faff;
  &-content {
    @include flex(column, center, flex-start);
    width: 100%;
  }
  .product-blocks {
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;
    .product-block {
      width: calc(50% - 0.75rem);
    }
    .vertical-product-block {
      @include resp(
        width,
        100%,
        100%,
        calc(50% - 1.5rem),
        calc(33.33% - 1.5rem)
      );
    }
  }
}
.listing-section-wrapper {
  max-width: 30rem;
}
.listing-section-title-block {
  @include flex(column, center, center);
  margin-bottom: 2rem;
  text-align: center;
  & h2 {
    font-family: "Play";
    font-size: 1.85rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    color: $textHover;
  }
  & p {
    font-family: "Muli";
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 0.35rem;
    color: $textHover;
  }
}
.green-btn-wrapper {
  text-align: center;
}
@media (max-width: 1300px) {
  .product-blocks {
    flex-direction: column;
  }
}
