@import "../../styles/mixins";

.slider {
  width: 100%;
  background-color: hwb(28 87% 8% / 0.518);
  @include flex(row, center, center);
  .swiper-wrapper {
    @include resp(width, 100%, 100%, 86%);
    overflow: visible;
  }
  &-image-holder {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}
